@font-face {
    font-family: poppins;
    src: url(../../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(../../font/Poppins-Black.ttf);
}
@font-face {
    font-family: rubikbold;
    src: url(../../font/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubik;
    src: url(../../font/Rubik.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: rubik;
}

.container {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px #CCCCCC;
    display: flex;
}

.container .logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .logo h1 {
    font-size: 15px;
    margin: 10px;
}

.dropdown{
    width: 70%;
    display: flex;
}

.dropdown .icon-menu{
    display: flex;
    justify-content: flex-end;
}
.dropdown .icon-menu img{
    width: 50px;
    display: none;
}

.dropdown .menu{
    display: flex;
    width: 100%;
}
.dropdown .menu .primary-menu{
    /* border: 1px solid aqua; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.dropdown .menu .primary-menu ul{
    display: flex;
    list-style-type: none;
}
.dropdown .menu .primary-menu ul li{
    margin: 15px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.dropdown .menu .primary-menu ul li a{
    text-decoration: none;
    color: #4f5665;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}
.dropdown .menu .primary-menu ul li a:hover{
    color: #6A4029;
    font-weight: 700;
    border-bottom: 2px solid #6A4029;
}


.dropdown .menu .secondary-menu{
    /* border: 1px solid hotpink; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.dropdown .menu .secondary-menu input{
    width: 150px;
    border-radius: 10px;
    border: 1px solid #4F5665;
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.dropdown .menu .secondary-menu .chat{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.dropdown .menu .secondary-menu .chat .notif{
    position: absolute;
    bottom: 8px;
    right: 13px;
}
.dropdown .menu .secondary-menu .chat .notif p{
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: rubik;
    font-weight: 600;
    background-color: #6A4029;
    border-radius: 30px;
    color: white;
}
.dropdown .menu .secondary-menu .chat img{
    width: 22px;
    height: 23px;
}
.dropdown .menu .secondary-menu .image{
    
    margin-left: 15px;
    margin-right: 15px;
    width: 23px;
    height: 23px;
    overflow: hidden;
    border-radius: 50%;
}
.dropdown .menu .secondary-menu .image img{
    width: 100%;
    height: auto;
    margin-top: -5px;
}


@media screen and (max-width:576px) {
    .dropdown .icon-menu img{
        display: block;
    }
    .container .logo{
        width:40% ;
        /* border: 1px solid hotpink; */
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 15px;
        padding-left: 20px;
    }
    .container .logo h1{
        margin-top: 3px;
    }
    .container .logo svg{
        width: 20px;
    }
    .dropdown .menu {
        display: none;
    }
    .dropdown:hover{
        display: flex;
        flex-direction: column;
    }
    .dropdown:hover .menu{
        display: flex;
    }
    .dropdown .icon-menu{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .dropdown .menu{
        flex-direction: column;
    }
    .dropdown .menu .primary-menu ul{
        /* border: 1px solid khaki; */
        margin-right: 400px;
        flex-direction: column;
    }
    .dropdown .menu .primary-menu ul li{
        width: 100px;
        font-size: 12px;
    }
    .dropdown .menu .secondary-menu{
        margin-left: -100px;
        margin-bottom: 20px;
        /* border: 1px solid brown; */
        justify-content: center;
        flex-direction: row;

    }

}

